p.centeredtext {
    position: absolute;
    top: 32%;
    white-space: nowrap;
    color: #26A69A;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-size: 65px;
}
.centerdiv {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-size: 75px;
}
.loadinglink {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-size: 75px;
}
p.loadingtext {
    color: #26A69A;
    text-align: center;
}
